<!DOCTYPE html>
<html>
  <head>
    <meta charset="{{site.charset}}" />
    <title>{% block meta_title '' %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for style in styles %}
    <link rel="stylesheet" href="{{ style }}" type="text/css" media="screen" />
    {% endfor %}

    {% block style '' %}
  </head>
  <body>
    {% block header %}
      <br>
      <div class="ui container">
        <div class="ui menu">
          {% for label,url in menu %}
          <a href="{{ url }}" class="{% if label == resource_slug|capitalize %}active {% endif %}item">{{ label }}</a>
          {% endfor %}
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            {{ Form.open({url: url('/logout'), class: 'item'})|raw }}
            <button type="submit" class="ui button button--link">Logout</button>
            {{ Form.close()|raw }}
          </div>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    {% endblock %}

    <div class="ui container">
      {% if flash_status is defined %}
      <div class="ui {{ flash_status }} message">
        {{ flash|raw }}
      </div>
      {% endif %}
    {% block content %}
    {% endblock %}
      <div class="ui hidden divider"></div>
    </div>

    {% block footer %}
    {% endblock %}

    {% for script in scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    {% block javascript '' %}
  </body>
</html>
