<br>
<div class="ui container">
  <div class="ui menu">
    {% for label,url in menu %}
    <a href="{{ url }}" class="{% if label == resource.name|capitalize %}active {% endif %}item">{{ label }}</a>
    {% endfor %}
    <div class="right menu">
      {{ Form.open({url: config_get('radmin.search_url'), class: 'item', id: 'searchForm', method: 'GET'})|raw }}
        <div class="ui icon input">
          <input id="searchInput" name="q" type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      {{ Form.close()|raw }}
      {{ Form.open({url: url('/logout'), class: 'item'})|raw }}
      <button type="submit" class="ui button button--link">Logout</button>
      {{ Form.close()|raw }}
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>